<footer class="Footer">
    <div class="container-fluid">
        <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "Footer__logo", alt: "サイトロゴ" %>
        <% end %>
        <p class="Footer__copyright">Copyright © Potepan Share 2024 All rights reserved</p>
    </div>
</footer>